@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-dark: #1A1A1A;
    --color-grey: #D7D7D7;

    --border-radius-primary: 38px;

    --padding-default: 1rem;
}

* {
    font-family: "Archivo Black", sans-serif;
}

main {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    /* background: linear-gradient(to right, #434343 0%, black 100%); */
}

body {
    margin: 0;
}

button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2 {
    margin: 0;
}

p {
    margin: 0;
}